---
import Layout from "../layouts/Layout.astro";
import styles from '../styles/Festivals.module.css';


---


<Layout>
    <div class={styles.proj}>
        <h2 class={styles.title}>Alexei Sinyavin: Speedcuber</h2>
        <ul class={styles.festivallist}>
            <li>Cine Las Americas Film Festival -  Emergencia 19 and Under</li>
            <li>Albany Film Festival - Documentary Short Film</li>
            <li>Central Film Festival - Student Documentary</li>
            <li>Breckinridge Film Festival - High School Films</li>
            <li>Flint Youth Film Festival - 16-18 Non-Fiction</li>
            <li>Urban Mediamaker Film Festival - High School Student and Teen Film</li>
            <li>International Short Film Festival Detmold</li>
            <li>All American High School Film Festival - Documentary</li>
            <li>Flickers' Rhode Island International Film Festival - Semi Finalist</li>
            <li>Nashville International Film Festival - Semi Finalist</li>
            <li>Santa Monica International Film Festival - Semi Finalist</li>
            <li>2024 ARFF Amsterdam - Semi Finalist</li>
        </ul>
    </div>
    <div class={styles.proj}>
        <h2 class={styles.title}>Is China the New World Bank?</h2>
        <ul class={styles.festivallist}>

            <li>Chicago Filmmaker Awards - Student Film <br />  - Nominated Best Student Film</li>
            <li>Cleveland Arthouse Film Awards - Semi Finalist</li>
            
        </ul>
    </div>

</Layout>