---

import styles from "../styles/Navbar.module.css"
---

<div class={styles.container}>
    <div class={styles.main}>
        <a class={styles.headerlink} href="/">
            <h1 class={styles.header}>Aaron Anidjar</h1>
        </a>
        <div class={styles.linkscontainer}>
            <a class="nolink" href="/film">
                <p class={styles.indivlink}>filmmaking</p>
            </a>
            <a class="nolink" href="/programming">
                <p class={styles.indivlink}>programming</p>
            </a>
            <a class="nolink" href="/photo">
                <p class={styles.indivlink}>photos</p>
            </a>
            <a class="nolink" href="/blog">
                <p class={styles.indivlink}>blog</p>
            </a>
        </div>
        <div>
            <a href="mailto:anidjaraaron@gmail.com">
                <button class={styles.contactbutton}>
                    Contact
                </button>

            </a>
        </div>
    </div>
    
</div>